venv/
ncNet/dataset/database/
ncNet/dataset/database.zip
ncNet/__pycache__/
ncNet/preprocessing/__pycache__/
ncNet/utilities/__pycache__/
ncNet/model/__pycache__/
ncNet/myenv/
agents_plots/plot.png
bambooai_consolidated_log.json
bambooai_run_log.json